@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth !important;
}

body {
  background-color: #f4f4f4;
}

h1 {
  color: rgb(255, 136, 0);
  font-family: "Bagel Fat One";
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin: 25px 0;
}

.slider-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.emotion-color {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.emotion-div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.emotion-div h3 {
  color: #111;
  font-family: "Borel";
  margin: 10px 0;
  text-decoration: none;
}

.joy-circle {
  background-color: #ffff1f;
}
.colere-circle {
  background-color: #8d0000;
}
.surprise-circle {
  background-color: #00ab00;
}
.peur-circle {
  background-color: #13006a;
}
.calme-circle {
  background-color: #fff;
  border: 1px solid #111;
}
.tristesse-circle {
  background-color: #59a4ff;
}

.arrow-div {
  margin-top: 1rem;
}

.arrow-div i {
  font-size: 4rem;
  color: rgb(255, 136, 0);
}

.emotion-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emotion-section h2 {
  color: rgb(255, 136, 0);
  font-family: "Bagel Fat One";
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  text-align: center;
  margin: 25px 0;
}

.emotion-container {
  position: relative;
  width: 1000px;
  height: 500px;
  background-color: #cccccc;
  border: 5px solid #111;
  border-radius: 25px;
  overflow: hidden;
  transition: background-color 1s ease-in-out;
}

.joy-section .emotion-container.active {
  background-color: #b3e0ff;
}

.emotion-container button {
  all: unset;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 10px 25px;
  border-radius: 50px;
  font-family: "Borel";
  transition: colors 0.3s ease-in-out;
}

#joy-button:hover,
#joy-button:focus {
  animation: pulsejoy 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #ffff1f;
  cursor: pointer;
}
#colere-button:hover,
#colere-button:focus {
  animation: pulsecolere 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #8d0000;
  color: #fff;
  cursor: pointer;
}
#surprise-button:hover,
#surprise-button:focus {
  animation: pulsesurprise 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #00ab00;
  color: #fff;
  cursor: pointer;
}
#peur-button:hover,
#peur-button:focus {
  animation: pulsepeur 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #13006a;
  color: #fff;
  cursor: pointer;
}
#calme-button:hover,
#calme-button:focus {
  animation: pulsecalme 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #f4f4f4;
  cursor: pointer;
}
#tristesse-button:hover,
#tristesse-button:focus {
  animation: pulsetristesse 1s;
  box-shadow: 0 0 0 2em transparent;
  background: #59a4ff;
  color: #fff;
  cursor: pointer;
}

.Flower {
  width: 170px;
  height: 170px;
  display: none;
  position: absolute;
  bottom: 0;
  transition: transform 2s ease-in-out;
}

/* Flower positions */
.main-flower {
  left: 50%;
  transform: translateX(-50%);
}
.flower-left {
  left: 20%;
}
.flower-right {
  left: 70%;
}
.flower-far-right {
  left: 85%;
}

/* Different rotation speeds */
.small-flower .FlowerHead {
  animation: rotate-flower 5s linear infinite;
}
.tiny-flower .FlowerHead {
  animation: rotate-flower 3s linear infinite;
}
.medium-flower .FlowerHead {
  animation: rotate-flower 6s linear infinite;
}

.Flower .flowerContainer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.Flower img {
  position: absolute;
  width: 100px;
  height: 100px;
  /* bottom: 20px; */
}
.FlowerHead {
  transform-origin: center;
  animation: rotate-flower 4s linear infinite;
  z-index: 100;
}
.FlowerLeaves {
  transform: translateY(30%);
}
/* Sun styles */
.Sun {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 200px;
  height: 200px;
  z-index: 100;
  display: none;
}

.Sun img {
  width: 100%;
  height: 100%;
  animation: rotate-sun 20s linear infinite;
  transform-origin: center;
}

@keyframes rotate-sun {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-flower {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulsejoy {
  0% {
    box-shadow: 0 0 0 0 #ffff1f;
  }
}
@keyframes pulsecolere {
  0% {
    box-shadow: 0 0 0 0 #8d0000;
  }
}
@keyframes pulsesurprise {
  0% {
    box-shadow: 0 0 0 0 #00ab00;
  }
}
@keyframes pulsepeur {
  0% {
    box-shadow: 0 0 0 0 #13006a;
  }
}
@keyframes pulsecalme {
  0% {
    box-shadow: 0 0 0 0 #f4f4f4;
  }
}
@keyframes pulsetristesse {
  0% {
    box-shadow: 0 0 0 0 #59a4ff;
  }
}

/* Plane styles */
.Plane {
  position: absolute;
  top: 25%;
  left: -150px;
  width: 150px;
  height: 150px;
  animation: fly-plane 15s linear infinite;
  display: none;
}

.Plane img {
  width: 100%;
  height: 100%;
}

.calm-text {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Borel";
  font-size: 2rem;
  color: #111;
  opacity: 0;
  display: none;
}

@keyframes fly-plane {
  0% {
    left: -150px;
  }
  100% {
    left: calc(100% + 150px);
  }
}

/* Rain styles */
.rain-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
}

.raindrop {
  position: absolute;
  width: 4px;
  height: 20px;
  background-color: #59a4ff;
  border-radius: 50px;
  opacity: 0;
}

.rain-container .raindrop:nth-child(1) {
  left: 10%;
  animation: rain 2s linear infinite;
  animation-delay: 0.2s;
}
.rain-container .raindrop:nth-child(2) {
  left: 25%;
  animation: rain 1.8s linear infinite;
  animation-delay: 0.5s;
}
.rain-container .raindrop:nth-child(3) {
  left: 40%;
  animation: rain 2.2s linear infinite;
  animation-delay: 0.3s;
}
.rain-container .raindrop:nth-child(4) {
  left: 55%;
  animation: rain 1.9s linear infinite;
  animation-delay: 0.7s;
}
.rain-container .raindrop:nth-child(5) {
  left: 70%;
  animation: rain 2.1s linear infinite;
  animation-delay: 0.1s;
}
.rain-container .raindrop:nth-child(6) {
  left: 85%;
  animation: rain 2s linear infinite;
  animation-delay: 0.4s;
}
.rain-container .raindrop:nth-child(7) {
  left: 15%;
  animation: rain 1.7s linear infinite;
  animation-delay: 0.6s;
}
.rain-container .raindrop:nth-child(8) {
  left: 30%;
  animation: rain 2.3s linear infinite;
  animation-delay: 0.2s;
}
.rain-container .raindrop:nth-child(9) {
  left: 45%;
  animation: rain 1.9s linear infinite;
  animation-delay: 0.8s;
}
.rain-container .raindrop:nth-child(10) {
  left: 60%;
  animation: rain 2.2s linear infinite;
  animation-delay: 0.3s;
}

@keyframes rain {
  0% {
    top: -20px;
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
